
@{
    ViewBag.Title = "EmAberto";
}

<h2>Em Aberto</h2>

<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-content">
                    <h3>Pendente</h3>
                    <p class="small"><i class="fa fa-hand-o-up"></i> Arraste o chamado para alterar sua situação. </p>
                    <ul class="sortable-list connectList agile-list" id="todo">
                        <li class="warning-element" id="task1">
                            Favor consertar meu ar condicionado.
                            <div class="agile-detail">
                                <a href="#" class="pull-right btn btn-xs btn-white">Maria das Dores</a>
                                <i class="fa fa-clock-o"></i> 12.10.2015
                            </div>
                        </li>
                        <li class="danger-element" id="task4">
                            Socorro a impressora parou!
                            <div class="agile-detail">
                                <a href="#" class="pull-right btn btn-xs btn-white">Buda</a>
                                <i class="fa fa-clock-o"></i> 06.10.2015
                            </div>
                        </li>
                        <li class="warning-element" id="task1">
                            Favor consertar meu ar condicionado.
                            <div class="agile-detail">
                                <a href="#" class="pull-right btn btn-xs btn-white">Maria das Dores</a>
                                <i class="fa fa-clock-o"></i> 12.10.2015
                            </div>
                        </li>
                        <li class="danger-element" id="task4">
                            Socorro a impressora parou!
                            <div class="agile-detail">
                                <a href="#" class="pull-right btn btn-xs btn-white">Buda</a>
                                <i class="fa fa-clock-o"></i> 06.10.2015
                            </div>
                        </li>
                        <li class="warning-element" id="task1">
                            Favor consertar meu ar condicionado.
                            <div class="agile-detail">
                                <a href="#" class="pull-right btn btn-xs btn-white">Maria das Dores</a>
                                <i class="fa fa-clock-o"></i> 12.10.2015
                            </div>
                        </li>
                        <li class="danger-element" id="task4">
                            Socorro a impressora parou!
                            <div class="agile-detail">
                                <a href="#" class="pull-right btn btn-xs btn-white">Buda</a>
                                <i class="fa fa-clock-o"></i> 06.10.2015
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-content">
                    <h3>Em Andamento</h3>
                    <p class="small"><i class="fa fa-hand-o-up"></i> Arraste o chamado para alterar sua situação. </p>
                    <ul class="sortable-list connectList agile-list" id="inprogress">
                        <li class="info-element" id="task13">
                            Preciso de dinheiro
                            <div class="agile-detail">
                                <a href="#" class="pull-right btn btn-xs btn-white">Maria das Dores</a>
                                <i class="fa fa-clock-o"></i> 08.04.2015
                            </div>
                        </li>
                        <li class="info-element" id="task13">
                            Preciso de dinheiro
                            <div class="agile-detail">
                                <a href="#" class="pull-right btn btn-xs btn-white">Maria das Dores</a>
                                <i class="fa fa-clock-o"></i> 08.04.2015
                            </div>
                        </li>
                        <li class="info-element" id="task13">
                            Preciso de dinheiro
                            <div class="agile-detail">
                                <a href="#" class="pull-right btn btn-xs btn-white">Maria das Dores</a>
                                <i class="fa fa-clock-o"></i> 08.04.2015
                            </div>
                        </li>
                        <li class="info-element" id="task13">
                            Preciso de dinheiro
                            <div class="agile-detail">
                                <a href="#" class="pull-right btn btn-xs btn-white">Maria das Dores</a>
                                <i class="fa fa-clock-o"></i> 08.04.2015
                            </div>
                        </li>
                        <li class="info-element" id="task13">
                            Preciso de dinheiro
                            <div class="agile-detail">
                                <a href="#" class="pull-right btn btn-xs btn-white">Maria das Dores</a>
                                <i class="fa fa-clock-o"></i> 08.04.2015
                            </div>
                        </li>
                        <li class="info-element" id="task13">
                            Preciso de dinheiro
                            <div class="agile-detail">
                                <a href="#" class="pull-right btn btn-xs btn-white">Maria das Dores</a>
                                <i class="fa fa-clock-o"></i> 08.04.2015
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-content">
                    <h3>Concluído</h3>
                    <p class="small"><i class="fa fa-hand-o-up"></i> Arraste o chamado para alterar sua situação. </p>
                    <ul class="sortable-list connectList agile-list" id="completed">
                        <li class="success-element" id="task20">
                            Está indo para o leste
                            <div class="agile-detail">
                                <a href="#" class="pull-right btn btn-xs btn-white">Mark</a>
                                <i class="fa fa-clock-o"></i> 05.04.2015
                            </div>
                        </li>
                        <li class="success-element" id="task20">
                            Está indo para o leste
                            <div class="agile-detail">
                                <a href="#" class="pull-right btn btn-xs btn-white">Mark</a>
                                <i class="fa fa-clock-o"></i> 05.04.2015
                            </div>
                        </li>
                        <li class="success-element" id="task20">
                            Está indo para o leste
                            <div class="agile-detail">
                                <a href="#" class="pull-right btn btn-xs btn-white">Mark</a>
                                <i class="fa fa-clock-o"></i> 05.04.2015
                            </div>
                        </li>
                        <li class="success-element" id="task20">
                            Está indo para o leste
                            <div class="agile-detail">
                                <a href="#" class="pull-right btn btn-xs btn-white">Mark</a>
                                <i class="fa fa-clock-o"></i> 05.04.2015
                            </div>
                        </li>
                        <li class="success-element" id="task20">
                            Está indo para o leste
                            <div class="agile-detail">
                                <a href="#" class="pull-right btn btn-xs btn-white">Mark</a>
                                <i class="fa fa-clock-o"></i> 05.04.2015
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

    @*<div class="row">
        <div class="col-lg-12">

            <h4>
                Serialised Output
            </h4>
            <p>
                Serializes the sortable's item id's into an array of string.
            </p>

            <div class="output p-m m white-bg"></div>


        </div>
    </div>*@


</div>
@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")

    <script type="text/javascript">
        $(document).ready(function () {

            $("#todo, #inprogress, #completed").sortable({
                connectWith: ".connectList",
                update: function (event, ui) {

                    var todo = $("#todo").sortable("toArray");
                    var inprogress = $("#inprogress").sortable("toArray");
                    var completed = $("#completed").sortable("toArray");
                    $('.output').html("ToDo: " + window.JSON.stringify(todo) + "<br/>" + "In Progress: " + window.JSON.stringify(inprogress) + "<br/>" + "Completed: " + window.JSON.stringify(completed));
                }
            }).disableSelection();

        });
    </script>

@*<div class="wrapper wrapper-content animated fadeInUp">
    <ul class="notes">
        <li>
            <div>
                <small>Hannah - MF 12:03:28 12-04-2014</small>
                <h4>Meu ar condicionado não funciona!</h4>
                <p>Juan Feijoo, favor vir consertar.</p>
                <a href="#"><i class="fa fa-trash-o "></i></a>
                <a href="#"><i class="fa fa-check"></i></a>
            </div>
        </li>
        <li>
            <div>
                <small>11:08:33 16-04-2014</small>
                <h4>Em caminho de paca</h4>
                <p>Ta tú comaminha dentro?</p>
                <a href="#"><i class="fa fa-trash-o "></i></a>
            </div>
        </li>
        <li>
            <div>
                <small>9:12:28 10-04-2014</small>
                <h4>Fui no outback e não tinha coca</h4>
                <p>O que fazer?</p>
                <a href="#"><i class="fa fa-trash-o "></i></a>
            </div>
        </li>
        <li>
            <div>
                <small>3:33:12 6-03-2014</small>
                <h4>The generated Lorem Ipsum </h4>
                <p>The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
                <a href="#"><i class="fa fa-trash-o "></i></a>
            </div>
        </li>
        <li>
            <div>
                <small>5:20:11 4-04-2014</small>
                <h4>Contrary to popular belief</h4>
                <p>Hampden-Sydney College in Virginia, looked up one.</p>
                <a href="#"><i class="fa fa-trash-o "></i></a>
            </div>
        </li>
        <li>
            <div>
                <small>2:10:12 4-05-2014</small>
                <h4>There are many variations</h4>
                <p>All the Lorem Ipsum generators on the Internet .</p>
                <a href="#"><i class="fa fa-trash-o "></i></a>
            </div>
        </li>
        <li>
            <div>
                <small>10:15:26 6-04-2014</small>
                <h4>Ipsum used standard chunk of Lorem</h4>
                <p>Standard chunk  is reproduced below for those.</p>
                <a href="#"><i class="fa fa-trash-o "></i></a>
            </div>
        </li>
    </ul>
</div>*@

